.student-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.student-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    background-color: darkslategray;
    color: chocolate;
}

.student__name {
    font-size: 1.2rem;
    text-align: center;
}

.student__email {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.student__description {
    text-align: center;
}